openapi: 3.1.0
info:
  title: Bizgo Communication API
  version: 1.2.0
  summary: 비즈고 커뮤니케이션 API (SMS/LMS/MMS, 국제, RCS, 카카오 알림톡·브랜드메시지, 네이버 톡톡)
  description: |
    비즈고(Bizgo) 커뮤니케이션 API의 비공식 OpenAPI 스펙입니다. 원문은 [비즈고 개발자센터](https://developers.bizgo.io/api-sdk/api-reference)이며,
    원문과 다르면 원문을 따릅니다. 문서끼리 다르거나 불명확한 부분은 `x-unverified`로 표시했습니다.

    ## 인증
    콘솔에서 발급한 API Key를 `Authorization` 헤더로 보냅니다. API Key는 허용 IP로 등록한 서버에서만 쓸 수 있습니다.

    ## 응답 구조
    모든 응답은 `common`(게이트웨이 결과)과 `data`(상품 처리 결과)로 나뉩니다. 둘 다 `A000`이어야 성공입니다.
    발송 API는 수신자별 결과(`data.data.destinations[].code`)도 따로 확인해야 합니다.

    ## 호출 한도
    발송 API는 **초당 200 메시지(수신번호 수 기준)**, 그 외 API는 초당 5 요청이 기본입니다. 수신자 200명짜리 발송 요청 1건은 200으로 계산됩니다. 넘으면 HTTP 429 / 코드 A020이 반환됩니다.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  x-spec-scope: 커뮤니케이션 API 전체 (verify API 제외)
servers:
  - url: https://mars.ibapi.kr
    description: 운영(Production)
  - url: https://sandbox-mars.ibapi.kr
    description: 테스트(Sandbox). 운영과 같은 API Key를 쓰며 실제로 발송되지 않습니다.
security:
  - ApiKeyAuth: []
tags:
  - name: Send
    description: 메시지 발송
  - name: File
    description: 이미지 파일 업로드
  - name: Report
    description: 발송 결과 리포트
  - name: Message
    description: 메시지 상태·이력·통계 조회
  - name: Webhook
    description: 비즈고가 고객 서버로 보내는 웹훅
  - name: Reservation
    description: 예약 발송과 예약 관리
  - name: Insight
    description: 채널별 인사이트(알림톡·브랜드메시지·RCS)
  - name: Kakao
    description: 카카오 발신프로필·카테고리·그룹·제재 관리
  - name: Alimtalk
    description: 알림톡 템플릿 관리
  - name: BrandMessage
    description: 브랜드메시지 동보 발송·템플릿·친구 그룹 관리
  - name: RCS
    description: RCS 브랜드·챗봇·템플릿 관리
  - name: Counsel
    description: 카카오 상담톡
paths:
  /api/comm/v1/send/omni:
    post:
      operationId: sendOmni
      tags:
        - Send
      summary: 통합 발송
      description: |
        SMS/LMS/MMS, 국제, RCS, 알림톡, 브랜드메시지, 네이버 톡톡을 같은 경로로 발송합니다.
        채널은 `messageFlow[]`의 채널 키로 구분하며, 여러 개를 넣으면 앞 메시지가 실패할 때 다음 메시지로 대체발송됩니다.
        수신자는 한 요청에 최대 200명입니다. 접수 결과는 수신자별로 `data.data.destinations[]`에 담기며,
        최종 발송 결과는 리포트(Polling/Webhook/Inquiry)로 확인합니다.

        네트워크 오류로 결과를 모를 때 다시 보내면 중복 발송될 수 있으므로 `idempotencyKey`를 함께 씁니다. `idempotencyKey`를 보낼 때는 `idempotencyTtl`도 함께 보내야 합니다(없으면 A309).
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/mt
      x-sdk-resource: send
      x-sdk-method: omni
      x-sdk-retry: rate_limit_only
      x-sdk-rate: send
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOmniRequest'
            examples:
              sms:
                summary: SMS 발송
                value:
                  destinations:
                    - to: '01000000000'
                  messageFlow:
                    - sms:
                        from: '01000000000'
                        text: 인증번호는 123456 입니다.
                  ref: sms-20260330-001
              lms:
                summary: LMS 발송
                value:
                  destinations:
                    - to: '01000000000'
                  messageFlow:
                    - mms:
                        from: '01000000000'
                        title: 주문 안내
                        text: 주문이 정상 접수되었습니다. 배송은 내일부터 시작됩니다.
                  ref: lms-20260330-001
              fallback:
                summary: 알림톡 실패 시 SMS로 대체발송
                value:
                  destinations:
                    - to: '01000000000'
                      replaceWords:
                        name: 홍길동
                  messageFlow:
                    - alimtalk:
                        senderKey: SENDER_KEY_EXAMPLE
                        templateCode: TEMPLATE_CODE_EXAMPLE
                        msgType: AT
                        text: '#{name}님, 주문이 접수되었습니다.'
                    - sms:
                        from: '01000000000'
                        text: '#{name}님, 주문이 접수되었습니다.'
                  idempotencyKey: order-20260330-0001
                  idempotencyTtl: 86400
      responses:
        '200':
          description: 접수 결과입니다. 수신자별 `code`도 함께 확인합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendOmniResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: SUCCESS
                  data:
                    destinations:
                      - to: '01000000000'
                        msgKey: 20260424104234546POM101182450000
                        code: A000
                        result: Success
                  ref: sms-20260330-001
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/mms:
    post:
      operationId: uploadMmsFile
      tags:
        - File
      summary: MMS 이미지 업로드
      description: MMS 발송용 이미지를 올리고 `fileKey`를 받습니다. 받은 키는 `messageFlow[].mms.fileKey`에 넣습니다(최대 3개).
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/mt
      x-sdk-resource: files
      x-sdk-method: uploadMms
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MmsFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/rcs:
    post:
      operationId: uploadRcsFile
      summary: RCS 이미지 업로드
      description: |
        RCS 발송 전에 이미지를 업로드합니다. 응답의 `data.data.media` 값을 발송 요청의
        `messageFlow[].rcs.body.media`에 넣어 사용합니다.
      tags:
        - File
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/rcs
      x-sdk-resource: files
      x-sdk-method: uploadRcs
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RcsFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 여부는 `common.authCode`와 `data.code`로 확인합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsFileUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    media: maapfile://MEDIA_KEY_EXAMPLE
                    expired: '2027-04-24T12:16:38+09:00'
  /api/comm/v1/file/brandmessage/default:
    post:
      operationId: uploadBrandMessageDefaultImage
      summary: 브랜드메시지 이미지 업로드
      description: 기본형 브랜드메시지에서 사용하는 이미지를 업로드합니다. 발송 본문에 파일을 직접 첨부하는 API가 아니라 브랜드메시지 템플릿 등록과 구성에 사용할 이미지 URL(`imgUrl`)을 발급받는 API입니다.
      tags:
        - File
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-brand
      x-sdk-resource: files
      x-sdk-method: uploadBrandMessageDefault
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BrandMessageDefaultFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 시 `data.data.imgUrl`에 브랜드메시지에서 사용할 이미지 URL이 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandMessageFileUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/brand-image.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/brandmessage/wide:
    post:
      operationId: uploadBrandMessageWideImage
      summary: 브랜드메시지 와이드 이미지 업로드
      description: 와이드 이미지형 브랜드메시지에서 사용하는 이미지를 업로드합니다. 발급된 `imgUrl`은 브랜드메시지 템플릿 또는 발송 구성에 사용합니다.
      tags:
        - File
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-brand
      x-sdk-resource: files
      x-sdk-method: uploadBrandMessageWide
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BrandMessageWideFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 시 `data.data.imgUrl`에 브랜드메시지에서 사용할 이미지 URL이 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandMessageFileUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/brand-image.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/brandmessage/wideItemList/first:
    post:
      operationId: uploadBrandMessageWideItemListFirstImage
      summary: 브랜드메시지 와이드 리스트 첫번째 이미지 업로드
      description: 와이드 리스트형 브랜드메시지의 첫 번째 리스트 이미지에 사용할 이미지를 업로드합니다.
      tags:
        - File
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-brand
      x-sdk-resource: files
      x-sdk-method: uploadBrandMessageWideItemListFirst
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BrandMessageWideItemListFirstFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 시 `data.data.imgUrl`에 브랜드메시지에서 사용할 이미지 URL이 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandMessageFileUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/brand-image.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/brandmessage/wideItemList:
    post:
      operationId: uploadBrandMessageWideItemListImage
      summary: 브랜드메시지 와이드 리스트 이미지 업로드
      description: 와이드 리스트형 브랜드메시지의 2~4번째 리스트 이미지에 사용할 이미지를 업로드합니다.
      tags:
        - File
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-brand
      x-sdk-resource: files
      x-sdk-method: uploadBrandMessageWideItemList
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BrandMessageWideItemListFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 시 `data.data.imgUrl`에 브랜드메시지에서 사용할 이미지 URL이 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandMessageFileUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/brand-image.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/brandmessage/carouselFeed:
    post:
      operationId: uploadBrandMessageCarouselFeedImage
      summary: 브랜드메시지 캐러셀 피드 이미지 업로드
      description: 캐러셀 피드형 브랜드메시지에서 사용하는 이미지를 업로드합니다.
      tags:
        - File
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-brand
      x-sdk-resource: files
      x-sdk-method: uploadBrandMessageCarouselFeed
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BrandMessageCarouselFeedFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 시 `data.data.imgUrl`에 브랜드메시지에서 사용할 이미지 URL이 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandMessageFileUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/brand-image.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/brandmessage/carouselCommerce:
    post:
      operationId: uploadBrandMessageCarouselCommerceImage
      summary: 브랜드메시지 캐러셀 커머스 이미지 업로드
      description: 캐러셀 커머스형 브랜드메시지에서 사용하는 이미지를 업로드합니다. 전체 캐러셀 이미지 비율은 동일하게 맞춰야 합니다.
      tags:
        - File
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-brand
      x-sdk-resource: files
      x-sdk-method: uploadBrandMessageCarouselCommerce
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BrandMessageCarouselCommerceFileUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 시 `data.data.imgUrl`에 브랜드메시지에서 사용할 이미지 URL이 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandMessageFileUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/brand-image.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/report/polling:
    get:
      operationId: getReportPolling
      tags:
        - Report
      summary: 리포트 가져오기(Polling)
      description: |
        처리가 끝난 리포트를 가져옵니다. 받은 뒤 `reportId`로 수신 확인(DELETE)을 해야 다음 리포트를 받을 수 있습니다.
        리포트 수신 방식은 API Key별로 콘솔에서 POLLING으로 설정해야 합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/report
      x-sdk-resource: reports
      x-sdk-method: poll
      x-sdk-retry: safe
      responses:
        '200':
          description: 리포트 목록입니다. 받을 리포트가 없으면 `reportId`는 빈 문자열, `report`는 null입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportPollingResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/report/polling/{reportId}:
    delete:
      operationId: ackReportPolling
      tags:
        - Report
      summary: 리포트 수신 확인
      description: 가져오기(GET) 응답의 `reportId`로 수신 확인을 합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/report
      x-sdk-resource: reports
      x-sdk-method: ack
      x-sdk-retry: safe
      parameters:
        - name: reportId
          in: path
          required: true
          description: 가져오기(GET) 응답에서 받은 리포트 ID입니다.
          schema:
            type: string
      responses:
        '200':
          description: 수신 확인 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/report/inquiry/{msgKey}:
    get:
      operationId: getReportInquiry
      tags:
        - Report
      summary: 리포트 개별조회
      description: 메시지 키 1개의 리포트를 조회합니다. 최대 30일 이전까지 조회할 수 있으며, Polling/Webhook에서 빠진 리포트를 보완하는 데 씁니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/report
      x-sdk-resource: reports
      x-sdk-method: inquiry
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/MsgKeyPath'
      responses:
        '200':
          description: 리포트 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportInquiryResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/message/statistics:
    get:
      operationId: getMessageStatistics
      tags:
        - Message
      summary: 통계 조회
      description: 기간·채널 기준으로 접수 및 리포트 통계를 일자별로 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: messages
      x-sdk-method: statistics
      x-sdk-retry: safe
      parameters:
        - name: startDate
          in: query
          required: true
          description: 조회 시작일(YYYYMMDD)입니다.
          schema:
            type: string
            pattern: ^[0-9]{8}$
          example: '20251101'
        - name: endDate
          in: query
          required: false
          description: 조회 종료일(YYYYMMDD)입니다.
          schema:
            type: string
            pattern: ^[0-9]{8}$
        - name: serviceType
          in: query
          required: false
          description: 채널 타입입니다(SMS, MMS, RCS, ALIMTALK, BRANDMESSAGE).
          schema:
            type: string
            x-known-values:
              - SMS
              - MMS
              - RCS
              - ALIMTALK
              - BRANDMESSAGE
        - name: groupKey
          in: query
          required: false
          description: 메시지 그룹 키입니다.
          schema:
            type: string
      responses:
        '200':
          description: 일자별 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageStatisticsResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/message/history:
    get:
      operationId: getMessageHistory
      tags:
        - Message
      summary: 발송 이력 조회
      description: 요청 시각 기준으로 발송 이력(접수·발송·리포트 단계)을 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: messages
      x-sdk-method: history
      x-sdk-retry: safe
      x-sdk-pagination:
        style: cursor
        request: lastSeq
        response: data.data.lastSeq
        hasNext: data.data.hasNext
        items: data.data.messages
      parameters:
        - name: requestTime
          in: query
          required: true
          description: 조회 기준 시각(YYYY-MM-DDTHH:mm:ss)입니다.
          schema:
            type: string
            x-format: yyyy-MM-dd'T'HH:mm:ss
          example: '2025-11-01T00:00:00'
        - name: serviceType
          in: query
          required: false
          description: 채널 타입입니다. 여러 개는 콤마(,)로 구분합니다.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              x-known-values:
                - SMS
                - MMS
                - RCS
                - ALIMTALK
                - BRANDMESSAGE
        - name: groupKey
          in: query
          required: false
          description: 메시지 그룹 키입니다.
          schema:
            type: string
        - name: lastSeq
          in: query
          required: false
          description: 페이지네이션 시퀀스입니다.
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          description: 조회 건수입니다. 기본값 100, 최대 1,000입니다.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        '200':
          description: 발송 이력입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageStatusListResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/message/history/mo:
    get:
      operationId: getMoHistory
      tags:
        - Message
      summary: MO(수신) 이력 조회
      description: MO 발생 시각 기준으로 수신 메시지를 최신순으로 조회합니다. 응답의 `lastSeq`를 다음 요청에 넣어 이어서 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: messages
      x-sdk-method: moHistory
      x-sdk-retry: safe
      x-sdk-pagination:
        style: cursor
        request: lastSeq
        response: data.data.lastSeq
        hasNext: data.data.hasNext
        items: data.data.messages
      parameters:
        - name: occurredTime
          in: query
          required: true
          description: 조회 기준 MO 발생 시각입니다. 타임존 오프셋을 포함해야 합니다(예 2026-04-23T14:11:01+09:00).
          schema:
            type: string
            x-format: yyyy-MM-dd'T'HH:mm:ssXXX
        - name: from
          in: query
          required: false
          description: 발신번호로 필터링합니다.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: 수신번호(MO 번호)로 필터링합니다.
          schema:
            type: string
        - name: lastSeq
          in: query
          required: false
          description: 다음 페이지 조회 커서입니다. 없으면 최신 건부터 조회합니다.
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          description: 조회 건수입니다. 기본값 100, 최대 1,000입니다.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        '200':
          description: MO 이력입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoMessageListResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/message/inquiry/msgKey/{msgKey}:
    get:
      operationId: getMessageStatusByMsgKey
      tags:
        - Message
      summary: 상태 조회(단건)
      description: 메시지 키 1개의 접수·발송·리포트 상태를 조회합니다. 대체발송이 있으면 채널별 항목이 여러 개 옵니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: messages
      x-sdk-method: status
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/MsgKeyPath'
      responses:
        '200':
          description: 메시지 상태입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageStatusListResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/message/inquiry/requestId/{requestId}:
    get:
      operationId: getMessageStatusByRequestId
      tags:
        - Message
      summary: 상태 조회(여러건)
      description: 동보 요청 1건에 속한 메시지들의 상태를 한 번에 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: messages
      x-sdk-method: statusByRequestId
      x-sdk-retry: safe
      parameters:
        - name: requestId
          in: path
          required: true
          description: 동보 요청 식별자입니다. msgKey에서 끝 3자리를 뺀 값입니다.
          schema:
            type: string
      responses:
        '200':
          description: 메시지 상태 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageStatusListResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/message/inquiry/mo/msgKey/{msgKey}:
    get:
      operationId: getMoByMsgKey
      tags:
        - Message
      summary: MO(수신) 단건 조회
      description: 메시지 키로 MO 메시지를 조회합니다. 같은 msgKey가 여러 건일 수 있어 배열로 반환합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: messages
      x-sdk-method: mo
      x-sdk-retry: safe
      parameters:
        - name: msgKey
          in: path
          required: true
          description: 조회할 MO 메시지 키입니다.
          schema:
            type: string
      responses:
        '200':
          description: MO 메시지 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoMessageListResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation:
    post:
      operationId: createReservation
      tags:
        - Reservation
      summary: 예약 발송 등록
      description: |
        메시지를 지정한 시각에 발송하도록 예약 등록합니다. SMS/LMS/MMS, 국제, 통합 RCS, 알림톡, 브랜드메시지(기본형·자유형)를 예약할 수 있으며,
        채널별 메시지 필드는 통합 발송 규격과 같습니다. 채널별 안내는 문자·국제·RCS·알림톡·브랜드메시지 API 레퍼런스의 "예약 발송" 섹션에 있습니다.

        - `resvSendTime`은 현재 시각 + 10분부터 1년 이내여야 합니다(A316, A331).
        - 광고성 메시지는 20:00~08:00(KST)에 예약할 수 없습니다(A330).
        - 응답의 `data.resvKey`로 예약 조회·수정·취소·중지·재개·수신자 관리를 합니다.

        문서에 멱등성 키가 없으므로, 네트워크 오류로 결과를 모를 때는 다시 등록하기 전에 예약 목록 조회로 등록 여부를 확인합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/mt
      x-sdk-resource: reservations
      x-sdk-method: create
      x-sdk-retry: rate_limit_only
      x-sdk-rate: send
      x-sdk-result: data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationCreateRequest'
            examples:
              sms:
                summary: SMS 예약 발송(실패 시 MMS)
                value:
                  destinations:
                    - to: '01000000000'
                  messageFlow:
                    - sms:
                        from: '01000000000'
                        text: 예약 SMS 발송 테스트입니다.
                    - mms:
                        from: '01000000000'
                        title: 예약 MMS 안내
                        text: 예약 MMS 발송 테스트입니다.
                        fileKey:
                          - FILE_KEY_001
                  resvSendTime: '2026-05-01 10:00:00'
                  resvName: 문자 예약 발송
                  ref: mt-resv-20260501-001
              alimtalk:
                summary: 알림톡 예약 발송
                value:
                  destinations:
                    - to: '01000000000'
                      replaceWords:
                        name: 홍길동
                  messageFlow:
                    - alimtalk:
                        msgType: AT
                        senderKey: SENDER_KEY_EXAMPLE
                        templateCode: TEMPLATE_CODE_EXAMPLE
                        text: '#{name}님의 예약이 접수되었습니다.'
                  resvSendTime: '2026-05-01 10:00:00'
                  resvName: 알림톡 예약 발송
                  ref: alimtalk-resv-20260501-001
      responses:
        '200':
          description: 예약 등록 결과입니다. 수신자별 `code`도 함께 확인합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationCreateResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  resvKey: RESV_KEY_EXAMPLE
                  data:
                    destinations:
                      - to: '01000000000'
                        msgKey: MSG_KEY_EXAMPLE
                        code: A000
                        result: Success
                  ref: mt-resv-20260501-001
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation/list:
    get:
      operationId: listReservations
      tags:
        - Reservation
      summary: 예약 목록 조회
      description: 예약 발송 건 목록을 조회합니다. `resvSendTime`에 지정한 시각을 포함해 그 이후의 예약 건이 조회됩니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-pagination:
        style: cursor
        request: lastSeq
        response: data.data.lastSeq
        hasNext: data.data.hasNext
        items: data.data.reservations
      parameters:
        - name: resvSendTime
          in: query
          required: true
          description: 조회 기준 예약 발송 시각입니다. `yyyy-MM-dd HH:mm:ss` 형식만 쓸 수 있습니다.
          schema:
            type: string
            x-format: yyyy-MM-dd HH:mm:ss
          example: '2026-05-01 10:00:00'
        - name: paymentCode
          in: query
          required: false
          description: 정산 코드로 조회 대상을 거릅니다.
          schema:
            type: string
        - name: lastSeq
          in: query
          required: false
          description: 다음 페이지를 조회할 때 쓰는 마지막 순번입니다. 이전 응답의 `data.data.lastSeq`를 넣습니다.
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          description: 조회 건수입니다.
          schema:
            type: integer
            minimum: 1
          x-unverified: limit의 기본값과 최대값이 문서에 없습니다.
      responses:
        '200':
          description: 예약 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationListResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    lastSeq: 100
                    hasNext: false
                    reservations:
                      - seq: 100
                        resvKey: RESV_KEY_EXAMPLE
                        paymentCode: PAYMENT_CODE_EXAMPLE
                        resvName: 금요일 캠페인
                        productType: MESSAGE
                        status: PENDING
                        adYn: 'N'
                        resvSendTime: '2026-05-01 10:00:00'
                        expectedCnt: 1000
                        sentCnt: 0
                        successCnt: 0
                        failCnt: 0
                        updateDate: '2026-04-30 12:34:56'
                        regDate: '2026-04-30 12:00:00'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation/resvKey/{resvKey}:
    parameters:
      - $ref: '#/components/parameters/ResvKeyPath'
    get:
      operationId: getReservation
      tags:
        - Reservation
      summary: 예약 상세 조회
      description: 예약 발송 키(resvKey)로 예약 건을 단건 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations
      x-sdk-method: get
      x-sdk-retry: safe
      responses:
        '200':
          description: 예약 건입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
    put:
      operationId: updateReservation
      tags:
        - Reservation
      summary: 예약 수정
      description: |
        예약 대기(PENDING) 상태인 예약 건의 발송 시각과 예약명을 수정합니다. 다른 상태이면 거절됩니다(A824).
        수정 응답에는 `resvData`가 빠질 수 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations
      x-sdk-method: update
      x-sdk-retry: safe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationUpdateRequest'
            example:
              resvSendTime: '2026-05-01 11:00:00'
              resvName: 금요일 캠페인 수정
      responses:
        '200':
          description: 수정된 예약 건입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation/resvKey/{resvKey}/cancel:
    post:
      operationId: cancelReservation
      tags:
        - Reservation
      summary: 예약 취소
      description: 예약 대기(PENDING) 또는 예약 중지(STOPPED) 상태인 예약 건을 취소합니다. 성공하면 `status`가 `CANCELLED`가 됩니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations
      x-sdk-method: cancel
      x-sdk-retry: rate_limit_only
      parameters:
        - $ref: '#/components/parameters/ResvKeyPath'
      responses:
        '200':
          description: 취소된 예약 건입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation/resvKey/{resvKey}/stop:
    post:
      operationId: stopReservation
      tags:
        - Reservation
      summary: 예약 중지
      description: 발송 처리 중(PROCESSING)인 예약 건을 중지합니다. 성공하면 `status`가 `STOPPED`가 되며, 재개(`resume`)로 다시 발송할 수 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations
      x-sdk-method: pause
      x-sdk-retry: rate_limit_only
      parameters:
        - $ref: '#/components/parameters/ResvKeyPath'
      responses:
        '200':
          description: 중지된 예약 건입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation/resvKey/{resvKey}/resume:
    post:
      operationId: resumeReservation
      tags:
        - Reservation
      summary: 예약 재개
      description: 예약 중지(STOPPED) 상태인 예약 건을 다시 발송 처리합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations
      x-sdk-method: resume
      x-sdk-retry: rate_limit_only
      x-unverified: 재개 응답 예시의 status가 PROCESSING이 아니라 PENDING입니다. 재개 후 상태가 무엇인지 확인이 필요합니다.
      parameters:
        - $ref: '#/components/parameters/ResvKeyPath'
      responses:
        '200':
          description: 재개된 예약 건입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation/resvKey/{resvKey}/destinations:
    parameters:
      - $ref: '#/components/parameters/ResvKeyPath'
    post:
      operationId: addReservationRecipients
      tags:
        - Reservation
      summary: 예약 수신자 추가
      description: 기존 예약 건에 수신자를 추가합니다. 한 번에 최대 1,000건까지 추가할 수 있습니다. 수신자별 `code`를 함께 확인합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations.recipients
      x-sdk-method: create
      x-sdk-retry: rate_limit_only
      x-sdk-rate: send
      x-unverified: 수신자를 추가할 수 있는 예약 상태(PENDING만인지)와 예약 1건의 전체 수신자 상한이 문서에 없습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationRecipientCreateRequest'
            example:
              destinations:
                - to: '01000000000'
                  replaceWords:
                    name: 홍길동
                  ref: dest-001
      responses:
        '200':
          description: 수신자별 추가 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRecipientCreateResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    destinations:
                      - to: '01000000000'
                        msgKey: MSG_KEY_EXAMPLE
                        code: A000
                        result: Success
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
    get:
      operationId: listReservationRecipients
      tags:
        - Reservation
      summary: 예약 수신자 목록 조회
      description: 예약 건에 등록된 수신자 목록을 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations.recipients
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-pagination:
        style: cursor
        request: lastSeq
        response: data.data.lastSeq
        hasNext: data.data.hasNext
        items: data.data.destinations
      parameters:
        - name: lastSeq
          in: query
          required: false
          description: 다음 페이지를 조회할 때 쓰는 마지막 순번입니다. 이전 응답의 `data.data.lastSeq`를 넣습니다.
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          description: 조회 건수입니다.
          schema:
            type: integer
            minimum: 1
          x-unverified: limit의 기본값과 최대값이 문서에 없습니다.
      responses:
        '200':
          description: 예약 수신자 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRecipientListResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/reservation/resvKey/{resvKey}/destinations/msgKey/{msgKey}:
    delete:
      operationId: deleteReservationRecipient
      tags:
        - Reservation
      summary: 예약 수신자 삭제
      description: 예약 건에 등록된 수신자를 메시지 키(msgKey) 기준으로 삭제합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/reservation
      x-sdk-resource: reservations.recipients
      x-sdk-method: delete
      x-sdk-retry: safe
      x-unverified: 이미 삭제한 수신자를 다시 삭제할 때의 응답 코드가 문서에 없습니다(재시도 시 오류가 날 수 있음).
      parameters:
        - $ref: '#/components/parameters/ResvKeyPath'
        - $ref: '#/components/parameters/MsgKeyPath'
          description: 삭제할 수신자의 메시지 키입니다. 수신자 추가 응답 또는 수신자 목록 조회의 `msgKey` 값입니다.
      responses:
        '200':
          description: 삭제 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/statistics/alimtalk:
    get:
      operationId: getAlimtalkInsight
      tags:
        - Insight
      summary: 알림톡 주요 인사이트 조회
      description: 기간·발신프로필 기준으로 알림톡 발송 성공/실패·읽음·클릭 등 주요 통계를 조회합니다. 카카오가 직접 제공하는 통계입니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.alimtalk
      x-sdk-method: get
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightSenderKeyQuery'
        - $ref: '#/components/parameters/InsightTemplateCodeQuery'
      responses:
        '200':
          description: 알림톡 주요 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightKakaoStatisticsResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    statistics:
                      - successCount: 1240
                        failCount: 18
                        readCount: 875
                        buttonClickCount: 312
                        listClickCount: 0
                        thumbnailClickCount: 0
                        etcClickCount: 44
                        sendRate: 98.57
                        readRate: 70.56
                        clickRate: 25.16
                        ctr: 35.66
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/statistics/alimtalk/reaction/hourly:
    get:
      operationId: getAlimtalkHourlyInsight
      tags:
        - Insight
      summary: 알림톡 시간별 반응 지표
      description: 기간·발신프로필 기준으로 알림톡 시간대별(0~23시) 반응 통계를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.alimtalk
      x-sdk-method: getHourly
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightSenderKeyQuery'
        - $ref: '#/components/parameters/InsightTemplateCodeQuery'
      responses:
        '200':
          description: 알림톡 시간대별 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightKakaoHourlyStatisticsResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/statistics/alimtalk/template:
    get:
      operationId: getAlimtalkTemplateInsight
      tags:
        - Insight
      summary: 알림톡 템플릿 상세 조회
      description: 기간·발신프로필 기준으로 알림톡 템플릿별 통계를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.alimtalk
      x-sdk-method: getByTemplate
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightSenderKeyQuery'
        - $ref: '#/components/parameters/InsightTemplateCodeQuery'
      responses:
        '200':
          description: 알림톡 템플릿별 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightKakaoTemplateStatisticsResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/statistics/brandmessage:
    get:
      operationId: getBrandMessageInsight
      tags:
        - Insight
      summary: 브랜드메시지 주요 인사이트 조회
      description: 기간·발신프로필 기준으로 브랜드메시지 발송 성공/실패·읽음·클릭 등 주요 통계를 조회합니다. 카카오가 직접 제공하는 통계입니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.brandMessage
      x-sdk-method: get
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightSenderKeyQuery'
        - $ref: '#/components/parameters/InsightTemplateCodeQuery'
      responses:
        '200':
          description: 브랜드메시지 주요 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightKakaoStatisticsResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/statistics/brandmessage/reaction/hourly:
    get:
      operationId: getBrandMessageHourlyInsight
      tags:
        - Insight
      summary: 브랜드메시지 시간별 반응 지표
      description: 기간·발신프로필 기준으로 브랜드메시지 시간대별(0~23시) 반응 통계를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.brandMessage
      x-sdk-method: getHourly
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightSenderKeyQuery'
        - $ref: '#/components/parameters/InsightTemplateCodeQuery'
      responses:
        '200':
          description: 브랜드메시지 시간대별 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightKakaoHourlyStatisticsResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/statistics/brandmessage/template:
    get:
      operationId: getBrandMessageTemplateInsight
      tags:
        - Insight
      summary: 브랜드메시지 템플릿 상세 조회
      description: 기간·발신프로필 기준으로 브랜드메시지 템플릿별 통계를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.brandMessage
      x-sdk-method: getByTemplate
      x-sdk-retry: safe
      parameters:
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightSenderKeyQuery'
        - $ref: '#/components/parameters/InsightTemplateCodeQuery'
      responses:
        '200':
          description: 브랜드메시지 템플릿별 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightKakaoTemplateStatisticsResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/rcs/brandId/{brandId}/stat/message:
    get:
      operationId: getRcsMessageInsight
      tags:
        - Insight
      summary: RCS 메시지 발송·노출 통계
      description: |
        브랜드·그룹 기준으로 RCS 메시지의 발송 건수와 노출(읽음) 건수를 일자별로 조회합니다.
        통계는 발송 요청의 `groupId` 단위로 집계되며, `groupId` 없이 보낸 건은 포함되지 않습니다.
        응답 데이터는 `data.data`가 아니라 `data.rcs`에 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.rcs
      x-sdk-method: getMessage
      x-sdk-retry: safe
      x-sdk-result: data.rcs
      parameters:
        - $ref: '#/components/parameters/RcsBrandIdPath'
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightRcsGroupIdQuery'
        - $ref: '#/components/parameters/InsightRcsChatbotIdQuery'
      responses:
        '200':
          description: 일자별 발송·노출 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightRcsMessageStatResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  rcs:
                    stat:
                      - statDate: '20260801'
                        corpId: CORP_ID_EXAMPLE
                        corpRegNum: '0000000000'
                        brandId: BRAND_ID_EXAMPLE
                        chatbotId: CHATBOT_ID_EXAMPLE
                        groupId: GROUP_ID_EXAMPLE
                        messagebaseId: MESSAGEBASE_ID_EXAMPLE
                        deliveredCount: 2540
                        displayedCount: 1980
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/rcs/brandId/{brandId}/stat/messageButton:
    get:
      operationId: getRcsMessageButtonInsight
      tags:
        - Insight
      summary: RCS 메시지 버튼 클릭 통계
      description: |
        RCS 메시지에 포함된 버튼의 클릭 수를 카드·버튼 단위로 조회합니다.
        응답 데이터는 `data.data`가 아니라 `data.rcs`에 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.rcs
      x-sdk-method: getMessageButton
      x-sdk-retry: safe
      x-sdk-result: data.rcs
      parameters:
        - $ref: '#/components/parameters/RcsBrandIdPath'
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - $ref: '#/components/parameters/InsightRcsGroupIdQuery'
        - $ref: '#/components/parameters/InsightRcsChatbotIdQuery'
      responses:
        '200':
          description: 일자별 버튼 클릭 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightRcsMessageButtonStatResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/rcs/brandId/{brandId}/stat/persistentMenu:
    get:
      operationId: getRcsPersistentMenuInsight
      tags:
        - Insight
      summary: RCS 대화방 메뉴 클릭 통계
      description: |
        대화방 하단 고정 메뉴의 클릭 수를 메뉴 단위로 조회합니다. RCS 인사이트 중 이 API만 `chatbotId`가 필수입니다.
        응답 데이터는 `data.data`가 아니라 `data.rcs`에 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.rcs
      x-sdk-method: getPersistentMenu
      x-sdk-retry: safe
      x-sdk-result: data.rcs
      parameters:
        - $ref: '#/components/parameters/RcsBrandIdPath'
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
        - name: chatbotId
          in: query
          required: true
          description: 챗봇 ID입니다. 넣지 않으면 요청이 거절됩니다.
          schema:
            type: string
      responses:
        '200':
          description: 일자별 메뉴 클릭 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightRcsPersistentMenuStatResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/rcs/brandId/{brandId}/stat/brandProfile:
    get:
      operationId: getRcsBrandProfileInsight
      tags:
        - Insight
      summary: RCS 브랜드 프로필 노출 통계
      description: |
        브랜드 프로필이 노출된 건수를 일자별로 조회합니다. 그룹·챗봇 조건 없이 기간만으로 조회합니다.
        응답 데이터는 `data.data`가 아니라 `data.rcs`에 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/insight
      x-sdk-resource: insights.rcs
      x-sdk-method: getBrandProfile
      x-sdk-retry: safe
      x-sdk-result: data.rcs
      parameters:
        - $ref: '#/components/parameters/RcsBrandIdPath'
        - $ref: '#/components/parameters/InsightStartDateQuery'
        - $ref: '#/components/parameters/InsightEndDateQuery'
      responses:
        '200':
          description: 일자별 브랜드 프로필 노출 통계입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightRcsBrandProfileStatResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/account/kakao/sender/token:
    post:
      operationId: requestKakaoSenderToken
      tags:
        - Kakao
      summary: 카카오 채널 인증 토큰 요청
      description: |
        발신프로필 등록에 필요한 카카오톡 채널 인증 토큰을 요청합니다.

        발신프로필 등록 흐름:
        1. 이 API에 채널 아이디(`yellowId`)와 채널 알림을 받는 관리자 전화번호(`phoneNumber`)를 보냅니다.
        2. 그 전화번호에 연결된 카카오톡이 채널을 차단하지 않았다면 카카오가 해당 카카오톡으로 인증 토큰을 보냅니다.
        3. 받은 토큰과 같은 전화번호를 헤더(`token`, `phoneNumber`)에 넣어 발신프로필 등록(`POST /api/comm/v1/account/kakao/sender`)을 호출합니다.

        인증받은 토큰은 7일 동안 비즈메시지 센터 서버에 보관됩니다. 다시 호출하면 토큰이 또 발송되므로 자동 재시도하지 않습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.senders
      x-sdk-method: requestToken
      x-sdk-retry: rate_limit_only
      x-sdk-result: data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KakaoSenderTokenRequest'
            example:
              yellowId: '@KAKAO_CHANNEL_ID_EXAMPLE'
              phoneNumber: '01000000000'
      responses:
        '200':
          description: 토큰 요청 결과입니다. 이 응답에는 `data.kakao`가 없습니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSenderAccountResponse'
              example:
                common:
                  authCode: A000
                  authResult: SUCCESS
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: SUCCESS
                  resultMsg: 요청 성공
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/account/kakao/sender:
    post:
      operationId: createKakaoSender
      tags:
        - Kakao
      summary: 인증 토큰으로 발신프로필 등록
      description: |
        카카오톡 채널을 발신프로필로 신규 등록합니다.
        카카오비즈니스 파트너센터에서 비즈니스 인증을 받았고, 프로필이 activated 상태이며 운영자에 의해 차단되지 않은 채널이어야 합니다.
        카카오 채널 인증 토큰 요청(`POST /api/comm/v1/account/kakao/sender/token`)으로 받은 토큰과 그때 쓴 전화번호를 헤더로 보냅니다.

        다른 허브파트너 요청으로 이미 등록된 채널이면 이전에 등록된 발신프로필의 카테고리 코드로 등록됩니다.
        브랜드메시지를 쓰는 발신프로필은 무료수신거부 전화번호·인증번호를 설정할 수 있습니다(타겟팅 M, N, O 사용 시 필수).
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.senders
      x-sdk-method: create
      x-sdk-retry: rate_limit_only
      x-sdk-result: data.kakao.senderProfile
      parameters:
        - name: token
          in: header
          required: true
          description: 카카오 채널 인증 토큰 요청 후 카카오톡으로 받은 채널 인증 토큰 값입니다.
          schema:
            type: string
          example: KAKAO_AUTH_TOKEN_EXAMPLE
        - name: phoneNumber
          in: header
          required: true
          description: 관리자 전화번호입니다. 카카오 채널 인증 토큰 요청 시 입력한 번호와 같아야 합니다.
          schema:
            type: string
          example: '01000000000'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KakaoSenderCreateRequest'
            example:
              yellowId: '@KAKAO_CHANNEL_ID_EXAMPLE'
              categoryCode: '00000000001'
      responses:
        '200':
          description: 등록 결과입니다. 성공 시 `data.kakao.senderProfile.senderKey`에 발신프로필 키가 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSenderAccountResponse'
              example:
                common:
                  authCode: A000
                  authResult: SUCCESS
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: SUCCESS
                  resultMsg: 요청 성공
                  kakao:
                    senderProfile:
                      senderKey: SENDER_KEY_EXAMPLE
                      uuid: '@KAKAO_CHANNEL_ID_EXAMPLE'
                      name: 비즈고
                      status: A
                      block: false
                      dormant: false
                      profileStatus: A
                      createdAt: '2026-07-24 13:32:17'
                      modifiedAt: '2026-07-24 13:32:18'
                      categoryCode: '00000000001'
                      brandtalk: false
                      brandMessage: false
                      channelKey: base
                      businessProfile: true
                      businessType: BUSINESS
                      profileSpamLevel: 정상
                      profileMessageSpamLevel: 정상
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
    get:
      operationId: findKakaoSender
      tags:
        - Kakao
      summary: 발신프로필 키 또는 uuid로 조회
      description: 발신프로필 키(`senderKey`) 또는 카카오톡 채널 uuid에 해당하는 발신프로필을 조회합니다. `senderKey`와 `uuid` 중 하나는 반드시 입력해야 합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.senders
      x-sdk-method: find
      x-sdk-retry: safe
      x-sdk-result: data.kakao.senderProfile
      parameters:
        - name: uuid
          in: query
          required: false
          description: 조회할 카카오톡 채널의 uuid(`@`로 시작하는 채널 아이디)입니다. `senderKey`가 없으면 필수입니다.
          schema:
            type: string
          example: '@KAKAO_CHANNEL_ID_EXAMPLE'
        - name: senderKey
          in: query
          required: false
          description: 조회할 발신프로필 키입니다. `uuid`가 없으면 필수입니다.
          schema:
            type: string
          example: SENDER_KEY_EXAMPLE
      responses:
        '200':
          description: 발신프로필 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSenderAccountResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/account/kakao/sender/profiles:
    get:
      operationId: listKakaoSenderProfiles
      tags:
        - Kakao
      summary: 발신프로필 목록 조회
      description: API 키에 등록된 발신프로필 목록을 조회합니다. 검색 기간과 발신프로필 키로 범위를 좁힐 수 있고, 결과는 페이지 단위로 반환합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-unverified: 이 엔드포인트는 한국어 페이지(Part A)에만 있고 Copy Markdown(Part B)에는 없습니다. 날짜 형식과 page·rows 기본값·최대값이 문서에 없습니다.
      x-sdk-resource: kakao.senders
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-result: data
      x-sdk-pagination:
        style: page
        request: page
        size: rows
        items: data.channels
        total: data.totalCount
        hasNext: data.hasNext
      parameters:
        - name: startDate
          in: query
          required: false
          description: 검색 시작일입니다.
          schema:
            type: string
          x-unverified: 날짜 형식이 문서에 없습니다.
        - name: endDate
          in: query
          required: false
          description: 검색 종료일입니다.
          schema:
            type: string
          x-unverified: 날짜 형식이 문서에 없습니다.
        - name: senderKey
          in: query
          required: false
          description: 발신프로필 키 또는 발신프로필 그룹키입니다.
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: 페이지 번호입니다.
          schema:
            type: integer
        - name: rows
          in: query
          required: false
          description: 페이지당 조회 건수입니다.
          schema:
            type: integer
      responses:
        '200':
          description: 발신프로필 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSenderListResponse'
              example:
                common:
                  authCode: A000
                  authResult: SUCCESS
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: SUCCESS
                  resultMsg: 요청 성공
                  page: 1
                  totalPage: 1
                  totalCount: 1
                  hasNext: false
                  channels:
                    - senderKey: SENDER_KEY_EXAMPLE
                      senderKeyType: S
                      channelName: 비즈고
                      channelId: '@KAKAO_CHANNEL_ID_EXAMPLE'
                      channelKey: base
                      categoryCode: '00000000001'
                      status: A
                      profileStatus: A
                      dormant: false
                      block: false
                      businessProfile: true
                      businessType: BUSINESS
                      createdAt: '2026-07-24 10:51:47'
                      regDate: '2026-07-24 10:51:47'
                      updateDate: '2026-07-24 10:52:03'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/sender:
    get:
      operationId: getKakaoSender
      tags:
        - Kakao
      summary: 발신프로필 키로 조회
      description: 발신프로필 키를 기준으로 카카오 발신프로필 정보를 조회합니다. 알림톡, 브랜드메시지, 상담톡에서 사용하는 senderKey의 상태(차단·휴면·스팸 등)를 확인할 때 사용합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.senders
      x-sdk-method: get
      x-sdk-retry: safe
      x-sdk-result: data.data.kakao.senderProfile
      parameters:
        - name: senderKey
          in: query
          required: true
          description: 발신프로필 키입니다.
          schema:
            type: string
          example: SENDER_KEY_EXAMPLE
      responses:
        '200':
          description: 발신프로필 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSenderResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    kakao:
                      senderProfile:
                        senderKey: SENDER_KEY_EXAMPLE
                        name: 비즈고
                        status: A
                        block: false
                        dormant: false
                        profileStatus: A
                        createdAt: '2026-04-24T11:18:45+09:00'
                        modifiedAt: '2026-04-24T11:18:45+09:00'
                        bizchat: true
                        brandMessage: true
                        businessProfile: true
                        profileSpamLevel: 정상
                        profileMessageSpamLevel: 정상
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/sender/recover:
    post:
      operationId: recoverKakaoSender
      tags:
        - Kakao
      summary: 발신프로필 휴면 해제
      description: 휴면 상태의 발신프로필을 해제합니다. 카카오 비즈메시지 발송 전 발신프로필 상태 복구가 필요한 경우 사용합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.senders
      x-sdk-method: recover
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KakaoSenderRecoverRequest'
            example:
              senderKey: SENDER_KEY_EXAMPLE
      responses:
        '200':
          description: 휴면 해제 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/sender/category/list:
    get:
      operationId: listKakaoSenderCategories
      tags:
        - Kakao
      summary: 발신프로필 카테고리 전체조회
      description: 발신프로필 등록 시 사용할 수 있는 카카오 비즈메시지 카테고리 목록을 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.categories
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-result: data.data.kakao.categories
      responses:
        '200':
          description: 카테고리 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoCategoryListResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    kakao:
                      categories:
                        - code: '001'
                          name: 쇼핑
                        - code: '002'
                          name: 금융
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/sender/category:
    get:
      operationId: getKakaoSenderCategory
      tags:
        - Kakao
      summary: 발신프로필 카테고리 상세조회
      description: 카테고리 코드를 기준으로 카카오 비즈메시지 카테고리 상세 정보를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.categories
      x-sdk-method: get
      x-sdk-retry: safe
      x-sdk-result: data.data.kakao.category
      parameters:
        - name: code
          in: query
          required: true
          description: 조회할 카테고리 코드입니다.
          schema:
            type: string
      responses:
        '200':
          description: 카테고리 상세 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoCategoryResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/group:
    get:
      operationId: listKakaoGroups
      tags:
        - Kakao
      summary: 발신프로필키로 그룹 조회
      description: 발신프로필 키를 기준으로 연결된 발신프로필 그룹 정보를 조회합니다. `senderKey`를 생략하면 조회 가능한 그룹 정보를 기준으로 응답합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.groups
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-result: data.data.kakao.groups
      parameters:
        - name: senderKey
          in: query
          required: false
          description: 조회 기준 발신프로필 키입니다.
          schema:
            type: string
          example: SENDER_KEY_EXAMPLE
      responses:
        '200':
          description: 발신프로필 그룹 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoGroupListResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    kakao:
                      groups:
                        - groupKey: GROUP_KEY_EXAMPLE
                          groupName: 기본 그룹
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
    post:
      operationId: addKakaoGroupSender
      tags:
        - Kakao
      summary: 그룹에 발신프로필 등록
      description: 발신프로필 그룹에 발신프로필을 등록합니다. 그룹 키와 등록할 발신프로필 키를 함께 전달합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.groups
      x-sdk-method: addSender
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KakaoGroupSenderAddRequest'
            example:
              groupKey: GROUP_KEY_EXAMPLE
              senderKey: SENDER_KEY_EXAMPLE
      responses:
        '200':
          description: 등록 결과입니다. 문서상 `data.data`는 내용이 정의되지 않은 객체입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/group/groupKey/{groupKey}/senderKey/{senderKey}:
    delete:
      operationId: removeKakaoGroupSender
      tags:
        - Kakao
      summary: 그룹에서 발신프로필 삭제
      description: 발신프로필 그룹에서 특정 발신프로필을 삭제합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.groups
      x-sdk-method: removeSender
      x-sdk-retry: safe
      parameters:
        - name: groupKey
          in: path
          required: true
          description: 그룹 키입니다.
          schema:
            type: string
          example: GROUP_KEY_EXAMPLE
        - name: senderKey
          in: path
          required: true
          description: 삭제할 발신프로필 키입니다.
          schema:
            type: string
          example: SENDER_KEY_EXAMPLE
      responses:
        '200':
          description: 삭제 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/abusing/block/sender:
    get:
      operationId: getKakaoSenderSanction
      tags:
        - Kakao
      summary: 발신프로필 제재 조회
      description: 특정 일자에 발신프로필에 적용된 제재 정보를 조회합니다. 발송 전 운영 상태를 확인할 때 사용합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.sanctions
      x-sdk-method: getSender
      x-sdk-retry: safe
      x-sdk-result: data.data.kakao.abusing
      parameters:
        - name: date
          in: query
          required: true
          description: 조회 기준 날짜(YYYYMMDD)입니다. 예 `20260305`.
          schema:
            type: string
            x-format: YYYYMMDD
            pattern: ^[0-9]{8}$
          x-unverified: 날짜 형식은 Copy Markdown(Part B) 예시에만 있습니다.
        - name: senderKey
          in: query
          required: true
          description: 발신프로필 키입니다.
          schema:
            type: string
      responses:
        '200':
          description: 제재 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSanctionResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    kakao:
                      abusing:
                        restrictedAt: '2026-03-05 16:33:17'
                        senderKey: SENDER_KEY_EXAMPLE
                        templateCode: TEMPLATE_CODE_EXAMPLE
                        groupKey: GROUP_KEY_EXAMPLE
                        senderKeyType: S
                        reasonType: BZM
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/abusing/block/senderGroup:
    get:
      operationId: getKakaoGroupTemplateSenderExclusion
      tags:
        - Kakao
      summary: 그룹템플릿 발신프로필 제외 조회
      description: 그룹템플릿에서 특정 발신프로필이 제외(제한)된 제재 정보를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.sanctions
      x-sdk-method: getGroupTemplateExclusion
      x-sdk-retry: safe
      x-sdk-result: data.data.kakao.abusing
      parameters:
        - name: date
          in: query
          required: true
          description: 조회 기준 날짜(YYYYMMDD)입니다. 예 `20260305`.
          schema:
            type: string
            x-format: YYYYMMDD
            pattern: ^[0-9]{8}$
          x-unverified: 날짜 형식은 Copy Markdown(Part B) 예시에만 있습니다.
        - name: senderKey
          in: query
          required: true
          description: 발신프로필 키입니다.
          schema:
            type: string
        - name: groupKey
          in: query
          required: true
          description: 그룹 발신프로필 키입니다.
          schema:
            type: string
        - name: templateCode
          in: query
          required: true
          description: 템플릿 코드입니다.
          schema:
            type: string
      responses:
        '200':
          description: 제재 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSanctionResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/kakao/abusing/block/template:
    get:
      operationId: getKakaoTemplateSanction
      tags:
        - Kakao
      summary: 템플릿 제재 조회
      description: 특정 일자에 템플릿에 적용된 제재 정보를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-common
      x-sdk-resource: kakao.sanctions
      x-sdk-method: getTemplate
      x-sdk-retry: safe
      x-sdk-result: data.data.kakao.abusing
      parameters:
        - name: date
          in: query
          required: true
          description: 조회 기준 날짜(YYYYMMDD)입니다. 예 `20260305`.
          schema:
            type: string
            x-format: YYYYMMDD
            pattern: ^[0-9]{8}$
          x-unverified: 날짜 형식은 Copy Markdown(Part B) 예시에만 있습니다.
        - name: senderKey
          in: query
          required: true
          description: 발신프로필 키입니다.
          schema:
            type: string
        - name: templateCode
          in: query
          required: true
          description: 템플릿 코드입니다.
          schema:
            type: string
      responses:
        '200':
          description: 제재 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KakaoSanctionResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/template:
    get:
      operationId: getAlimtalkTemplate
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 조회
      description: 발신프로필 키와 템플릿 코드를 기준으로 알림톡 템플릿 상세 정보(검수 상태, 심사 의견 포함)를 조회합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-sdk-resource: alimtalk.templates
      x-sdk-method: get
      x-sdk-retry: safe
      x-sdk-result: data.data.alimtalk
      parameters:
        - name: senderKey
          in: query
          required: true
          description: 발신프로필 키입니다.
          schema:
            type: string
          example: SENDER_KEY_EXAMPLE
        - name: templateCode
          in: query
          required: true
          description: 템플릿 코드입니다.
          schema:
            type: string
          example: TEMPLATE_CODE_EXAMPLE
      responses:
        '200':
          description: 템플릿 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    alimtalk:
                      senderKey: SENDER_KEY_EXAMPLE
                      templateCode: TEMPLATE_CODE_EXAMPLE
                      text: '#{name}님, 주문이 완료되었습니다.'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
    post:
      operationId: createAlimtalkTemplate
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 등록
      description: |
        알림톡 템플릿을 등록합니다. 등록한 템플릿은 검수 요청(`POST /api/comm/v1/center/alimtalk/template/request`) 후 카카오 승인을 받아야 발송할 수 있습니다.
        이미지형·아이템리스트형 템플릿은 템플릿 이미지 업로드 API로 받은 `imgUrl`을 함께 넣습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-sdk-resource: alimtalk.templates
      x-sdk-method: create
      x-sdk-retry: rate_limit_only
      x-sdk-result: data.data.alimtalk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlimtalkTemplateSaveRequest'
            example:
              alimtalk:
                senderKey: SENDER_KEY_EXAMPLE
                templateName: 주문 완료 안내
                templateCode: TEMPLATE_CODE_EXAMPLE
                templateMessageType: BA
                templateEmphasizeType: NONE
                text: '#{name}님, 주문이 완료되었습니다.'
                categoryCode: '001001'
      responses:
        '200':
          description: 등록된 템플릿 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    alimtalk:
                      senderKey: SENDER_KEY_EXAMPLE
                      templateCode: TEMPLATE_CODE_EXAMPLE
                      text: '#{name}님, 주문이 완료되었습니다.'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
    put:
      operationId: updateAlimtalkTemplate
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 수정
      description: 등록된 알림톡 템플릿 정보를 수정합니다. 검수 상태와 카카오 정책에 따라 수정 가능한 범위가 달라질 수 있습니다. 대상 템플릿은 본문의 `senderKey`와 `templateCode`로 지정합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-sdk-resource: alimtalk.templates
      x-sdk-method: update
      x-sdk-retry: safe
      x-sdk-result: data.data.alimtalk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlimtalkTemplateSaveRequest'
            example:
              alimtalk:
                senderKey: SENDER_KEY_EXAMPLE
                templateName: 주문 완료 안내 수정
                templateCode: TEMPLATE_CODE_EXAMPLE
                templateMessageType: BA
                templateEmphasizeType: NONE
                text: '#{name}님, 주문 접수가 완료되었습니다.'
      responses:
        '200':
          description: 수정된 템플릿 정보입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/template/list:
    get:
      operationId: listAlimtalkTemplates
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 목록 조회
      description: 발신프로필에 등록된 알림톡 템플릿 목록을 페이징 조회합니다. 카카오를 호출하지 않고 비즈고에 적재된 템플릿을 읽으므로 목록 화면이나 주기적인 동기화에 사용할 수 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-unverified: 이 엔드포인트는 한국어 페이지(Part A)에만 있습니다. offset이 건수 기준인지, limit 기본값·최대값, 마지막 페이지 판별 방법(hasNext·total 없음)이 문서에 없습니다.
      x-sdk-resource: alimtalk.templates
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-result: data.data.alimtalk.templates
      x-sdk-pagination:
        style: offset
        request: offset
        size: limit
        items: data.data.alimtalk.templates
      parameters:
        - name: senderKey
          in: query
          required: true
          description: 발신프로필 키 또는 그룹키입니다.
          schema:
            type: string
          example: SENDER_KEY_EXAMPLE
        - name: senderKeyType
          in: query
          required: false
          description: 발신키 유형입니다(`S` 발신프로필, `G` 그룹).
          schema:
            type: string
            enum:
              - G
              - S
          example: S
        - name: status
          in: query
          required: false
          description: 템플릿 상태입니다.
          schema:
            type: string
          x-unverified: 템플릿 상태 값 목록이 문서에 없습니다.
        - name: inspectionStatus
          in: query
          required: false
          description: 검수 상태입니다(`REG` 등록, `REQ` 검수 요청, `APR` 승인, `REJ` 반려).
          schema:
            type: string
            enum:
              - REG
              - REQ
              - APR
              - REJ
          example: APR
        - name: templateType
          in: query
          required: false
          description: 템플릿 유형입니다.
          schema:
            type: string
          x-unverified: 템플릿 유형 값 목록이 문서에 없습니다.
        - name: offset
          in: query
          required: false
          description: 조회 시작 위치입니다. 문서 예시는 `0`입니다.
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          required: false
          description: 조회 건수입니다. 문서 예시는 `100`입니다.
          schema:
            type: integer
            minimum: 1
          example: 100
      responses:
        '200':
          description: 템플릿 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateListResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    alimtalk:
                      templates:
                        - senderKey: SENDER_KEY_EXAMPLE
                          templateName: 주문 완료 안내
                          templateCode: TEMPLATE_CODE_EXAMPLE
                          templateMessageType: BA
                          templateEmphasizeType: NONE
                          text: '#{name}님, 주문이 완료되었습니다.'
                          categoryCode: '001001'
                          inspectionStatus: APR
                          status: A
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/template/lastModified:
    get:
      operationId: listModifiedAlimtalkTemplates
      tags:
        - Alimtalk
      summary: 최근 변경 알림톡 템플릿 조회
      description: 지정한 시각 이후 변경된 알림톡 템플릿 목록을 조회합니다. 템플릿 최신화나 내부 동기화 배치 기준으로 사용할 수 있습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-unverified: 마지막 페이지 판별 방법(hasNext·total)이 응답에 없습니다. count 최대값이 문서에 없습니다.
      x-sdk-resource: alimtalk.templates
      x-sdk-method: listModified
      x-sdk-retry: safe
      x-sdk-result: data.data.alimtalk.templates
      x-sdk-pagination:
        style: page
        request: page
        size: count
        items: data.data.alimtalk.templates
      parameters:
        - name: senderKey
          in: query
          required: true
          description: 발신프로필 키입니다. 최대 40자입니다.
          schema:
            type: string
            maxLength: 40
          example: SENDER_KEY_EXAMPLE
        - name: senderKeyType
          in: query
          required: false
          description: 발신키 유형입니다(`S` 발신프로필, `G` 그룹). 기본값은 `S`입니다.
          schema:
            type: string
            enum:
              - G
              - S
            default: S
        - name: since
          in: query
          required: false
          description: 조회 시작 시각(yyyy-MM-dd'T'HH:mm:ss)입니다. 예 `2026-04-23T09:00:00`.
          schema:
            type: string
            x-format: yyyy-MM-dd'T'HH:mm:ss
          example: '2026-04-23T09:00:00'
        - name: page
          in: query
          required: false
          description: 페이지 번호입니다. 기본값 1, 최소 1입니다.
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: count
          in: query
          required: false
          description: 페이지당 조회 건수입니다. 기본값 100, 최소 1입니다.
          schema:
            type: integer
            minimum: 1
            default: 100
      responses:
        '200':
          description: 최근 변경된 템플릿 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateListResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/template/senderKey/{senderKey}/templateCode/{templateCode}:
    delete:
      operationId: deleteAlimtalkTemplate
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 삭제
      description: 발신프로필 키와 템플릿 코드를 기준으로 알림톡 템플릿을 삭제합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-sdk-resource: alimtalk.templates
      x-sdk-method: delete
      x-sdk-retry: safe
      parameters:
        - name: senderKey
          in: path
          required: true
          description: 발신프로필 키입니다.
          schema:
            type: string
          example: SENDER_KEY_EXAMPLE
        - name: templateCode
          in: path
          required: true
          description: 삭제할 템플릿 코드입니다.
          schema:
            type: string
          example: TEMPLATE_CODE_EXAMPLE
      responses:
        '200':
          description: 삭제 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/alimtalk/template:
    post:
      operationId: uploadAlimtalkTemplateImage
      tags:
        - File
      summary: 알림톡 템플릿 이미지 업로드
      description: 알림톡 이미지형, 와이드 이미지형, 아이템리스트형 템플릿 등록에 사용할 이미지를 업로드합니다. 메시지 발송용 업로드가 아니라 템플릿 등록을 위한 사전 이미지 등록 API입니다. 응답의 `imgUrl`을 템플릿 등록의 `imgUrl`에 넣습니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-sdk-resource: files
      x-sdk-method: uploadAlimtalkTemplateImage
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AlimtalkTemplateImageUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다. 성공 시 `data.data.imgUrl`에 템플릿 등록에 쓸 이미지 URL이 담깁니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateImageUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/template-image.jpg
                    fileName: template-image.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/file/alimtalk/itemHighlight:
    post:
      operationId: uploadAlimtalkItemHighlightImage
      tags:
        - File
      summary: 알림톡 템플릿 하이라이트 이미지 업로드
      description: 아이템리스트형 알림톡 템플릿의 아이템 하이라이트 영역에 사용할 이미지를 업로드합니다. 템플릿 이미지 업로드와 같은 템플릿 등록용 사전 이미지 등록 API입니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-unverified: 업로드한 하이라이트 이미지 URL을 템플릿 등록 요청의 어느 필드에 넣는지 문서에 없습니다(`attachment.itemHighlight`에 이미지 필드가 없음).
      x-sdk-resource: files
      x-sdk-method: uploadAlimtalkItemHighlightImage
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AlimtalkTemplateItemHighlightImageUploadRequest'
      responses:
        '200':
          description: 업로드 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateImageUploadResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    imgUrl: https://example.kakao.image/item-highlight.jpg
                    fileName: item-highlight.jpg
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/category:
    get:
      operationId: listAlimtalkTemplateCategories
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 카테고리 조회
      description: |
        알림톡 템플릿 카테고리를 조회합니다. 문서는 같은 경로에 두 기능을 둡니다.
        - `categoryCode` 없이 호출: 템플릿 카테고리 전체 목록(`data.data.categories`)
        - `categoryCode`를 넣어 호출: 해당 카테고리 상세(`data.data.category`)
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-unverified: 전체 조회와 상세 조회가 같은 GET 경로로 문서화되어 있어 한 operation으로 합쳤습니다. 상세 조회 응답의 `category`는 표에서 Object Array, 예시에서 Object로 서로 다릅니다.
      x-sdk-resource: alimtalk.templateCategories
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-result: data.data
      parameters:
        - name: categoryCode
          in: query
          required: false
          description: 조회할 템플릿 카테고리 코드입니다. 넣으면 상세 조회, 생략하면 전체 조회입니다(상세 조회 문서에서는 필수).
          schema:
            type: string
      responses:
        '200':
          description: 템플릿 카테고리 목록 또는 상세입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplateCategoryResponse'
              examples:
                all:
                  summary: 전체 조회
                  value:
                    common:
                      authCode: A000
                      authResult: Success
                      infobankTrId: Infobank-Tracking-Id
                    data:
                      code: A000
                      result: Success
                      data:
                        categories:
                          - code: '001001'
                            name: 주문/예약
                            groupName: 커머스
                            inclusion: 주문, 예약, 결제 알림
                            exclusion: 광고성 안내
                detail:
                  summary: 상세 조회(categoryCode 지정)
                  value:
                    common:
                      authCode: A000
                      authResult: Success
                      infobankTrId: Infobank-Tracking-Id
                    data:
                      code: A000
                      result: Success
                      data:
                        category:
                          code: '001001'
                          name: 주문/예약
                          groupName: 커머스
                          inclusion: 주문, 예약, 결제 알림
                          exclusion: 광고성 안내
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/template/request:
    post:
      operationId: requestAlimtalkTemplateInspection
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 검수 요청
      description: |
        등록된 알림톡 템플릿을 카카오 검수로 요청합니다. 템플릿 상태가 대기이고 검수 상태가 등록(`REG`)인 경우 요청할 수 있습니다.
        - `application/json`: 첨부 없이 요청합니다. 템플릿 정보는 `alimtalk` 객체에 넣습니다.
        - `multipart/form-data`: 파일을 첨부해 요청합니다. 필드를 최상위에 두며 `comment`가 필수입니다. 파일 형식은 png, jpg, jpeg, gif, pdf, hwp, doc, docx입니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-sdk-resource: alimtalk.templates
      x-sdk-method: requestInspection
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlimtalkTemplateInspectionRequest'
            example:
              alimtalk:
                senderKey: SENDER_KEY_EXAMPLE
                templateCode: TEMPLATE_CODE_EXAMPLE
                comment: 검수 요청합니다.
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AlimtalkTemplateInspectionFileRequest'
      responses:
        '200':
          description: 검수 요청 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/template/request/cancel:
    post:
      operationId: cancelAlimtalkTemplateInspection
      tags:
        - Alimtalk
      summary: 알림톡 템플릿 검수 요청 취소
      description: 검수 요청된 알림톡 템플릿의 검수 요청을 취소합니다.
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-sdk-resource: alimtalk.templates
      x-sdk-method: cancelInspection
      x-sdk-retry: rate_limit_only
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlimtalkTemplateInspectionCancelRequest'
            example:
              alimtalk:
                senderKey: SENDER_KEY_EXAMPLE
                templateCode: TEMPLATE_CODE_EXAMPLE
      responses:
        '200':
          description: 검수 요청 취소 결과입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/alimtalk/public/template:
    get:
      operationId: listAlimtalkPublicTemplates
      tags:
        - Alimtalk
      summary: 알림톡 공용템플릿 조회
      description: |
        카카오가 제공하는 공용템플릿 목록을 조회합니다.

        **신규 발송에 권장하지 않습니다.** 공용템플릿은 비즈고 콘솔 템플릿 선택 화면에서 제외되었고 조회 API만 남아 있으며, 이후 제공이 중단될 예정입니다.
        발송 시 변수 치환 결과가 템플릿에 정의된 글자 수를 넘으면 잘라내거나 대체발송하지 않고 실패로 처리합니다.
        신규 연동은 템플릿 등록으로 직접 만든 템플릿을 사용합니다.
      deprecated: true
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-alimtalk
      x-unverified: 마지막 페이지 판별 방법(hasNext·total)이 응답에 없습니다.
      x-sdk-resource: alimtalk.publicTemplates
      x-sdk-method: list
      x-sdk-retry: safe
      x-sdk-result: data.data.templates
      x-sdk-pagination:
        style: page
        request: page
        size: count
        items: data.data.templates
      parameters:
        - name: since
          in: query
          required: false
          description: 조회 기준 시각(yyyyMMddHHmmss)입니다. 기본값은 `20250708000000`입니다.
          schema:
            type: string
            x-format: yyyyMMddHHmmss
            default: '20250708000000'
          example: '20250708000000'
        - name: page
          in: query
          required: false
          description: 조회 페이지 번호입니다. 기본값은 1입니다.
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: count
          in: query
          required: false
          description: 페이지당 조회 건수입니다. 기본값 100, 최대 1,000입니다.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        '200':
          description: 공용템플릿 목록입니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlimtalkTemplatePublicListResponse'
              example:
                common:
                  authCode: A000
                  authResult: Success
                  infobankTrId: Infobank-Tracking-Id
                data:
                  code: A000
                  result: Success
                  data:
                    templates:
                      - templateName: 주문 완료 안내
                        templateCode: TEMPLATE_CODE_EXAMPLE
                        status: APR
                        categoryCode: '001001'
                        releaseDate: '2026-04-08 10:00:00'
                        previewImageUrl: https://example.kakao.image/public-template.png
        '429':
          $ref: '#/components/responses/RateLimited'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/comm/v1/center/brandmessage/groupMessage:
    post:
      operationId: createBrandMessageGroupSend
      summary: 브랜드메시지 동보 발송
      description: 기본형 템플릿을 기준으로 친구 그룹 또는 전체 친구에게 동보 발송을 예약합니다. 템플릿은 변수가 없고 상태가 등록(`A`)이어야 합니다. 발송 수는 요청 시점의 친구 관계로 정해지고, 실제 발송 시점의 친구 관계에 따라 그 수 안에서 순차 발송됩니다.
      tags:
        - BrandMessage
      x-source: https://developers.bizgo.io/api-sdk/api-reference/comm/kakao-brand
      x-sdk-resource: brandMessage.groupSends
      x-sdk-method: create
      x-sdk-retry: rate_limit_only
      x-sdk-rate: send
      requestBody:
        required: true
        content:
[...]
